
body {
    font-family: Arial, sans-serif;
    background-color: #004fb6;
    color: #333;
}
h1 {
  color: #d11818;
  text-align: center;
}
h2 {
  color: #ffffff;
  text-align: center;
}
h3 {
  color: #ffffff;
  text-align: center;
}
p {
  color: #ffffff;
  line-height: 1.6;
}
a {
  color: yellow;
  text-decoration: none;
}
.other-actors {
  color: #ffffff;
  text-align: left;
  font-size: 24px;
}
.actors-name {
  color: #ffffff;
  text-align: left;
  font-size: 20px;
}
